In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Problem 3: The Palmer Archipelago Penguin Data

In [2]:
# load the data
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Theory/master/Data/penguins_size.csv'
data = pd.read_csv(url)
data.head(5)

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE

In [3]:
# drop rows with missing values
data.dropna(axis=0, how='any', inplace=True)

In [4]:
data.isna().sum()

species              0
island               0
culmen_length_mm     0
culmen_depth_mm      0
flipper_length_mm    0
body_mass_g          0
sex                  0
dtype: int64

In [6]:
# feature matrix X
X = data.drop(['species','island'],axis=1)

**Part 1:** Cluster the penguins using k-means.
Ensure that you have selected a good number of clusters (using the "elbow" method or the "silhouette score", for example).

**Part 2:** Analyze the obtained clusters