In [3]:
import pandas as pd

# Practice problem III

In [4]:
# load the Chipotle dataset
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/chipotleorders.csv'
chipo = pd.read_csv(url)

Display the first 10 entries of the dataset

What is the number of observations (rows) in the dataset?

What is the number of columns in the dataset?

Print the name of all the columns

 How many different items are sold?

Which was the most-ordered item?

What was the most ordered item in the choice_description column?

How many items were ordered in total?

Assign the following Series to the `item_price` column

In [5]:
chipo.item_price.str.replace('$','').apply(float)

C:\Users\javier.perez-alvaro\AppData\Local\Temp\ipykernel_13612\4108351803.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo.item_price.str.replace('$','').apply(float)

0        2.39
1        3.39
2        3.39
3        2.39
4       16.98
        ...
4617    11.75
4618    11.75
4619    11.25
4620     8.75
4621     8.75
Name: item_price, Length: 4622, dtype: float64

Compute the price of each order (this is, multiply the column `item_price` by the column `quantity`). Assign it to a new column named 'total_price'.

Compute the total revenue for the period in the dataset