In [1]:
import pandas as pd

# Practice problem I

The *ufo.csv* dataset contains reports of UFO sightings from 1930-2000.

In [2]:
# read the UFO data
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/ufo.csv'
ufo = pd.read_csv(url)
ufo.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

Examine the first 10 rows

Examine the last 10 rows

Get the number of rows of the ufo DataFrame

Get size of the dataframe

Get column names

Get the data type of each column

Select the 'City' column using bracket notation

Select the 'City' column using dot notation

Set the 'Time' column as the DataFrame index

Assign the following Series to a new 'Location' column

In [3]:
ufo.City + ', ' + ufo.State

0                      Ithaca, NY
1                 Willingboro, NJ
2                     Holyoke, CO
3                     Abilene, KS
4        New York Worlds Fair, NY
                   ...
18236              Grant Park, IL
18237             Spirit Lake, IA
18238             Eagle River, WI
18239             Eagle River, WI
18240                    Ybor, FL
Length: 18241, dtype: object

Rename the 'Colors Reported' and 'Shape Reported' columns to 'colors_reported' and 'shape_reported'

Remove the 'colors_reported' column

Remove rows 0 and 1