In [2]:
import pandas as pd
import matplotlib.pyplot as plt

## Problem 10

### Part 1: Greenhouse gas emissions

The file *greenhouse_emissions.csv* provides a comprehensive accounting of total greenhouse gas emissions for all man-made sources in the United States.
The gases covered include carbon dioxide, methane, nitrous oxide, hydrofluorocarbons, perfluorocarbons, sulfur hexafluoride, and nitrogen trifluoride.
The measurement units are in million metric tons of carbon dioxide equivalents (GT CO2 equivalent).

In [4]:
path = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/greenhouse_emissions.csv'
emissions = pd.read_csv(path,index_col='year')
emissions

,Transportation,Electricity generation,Industry,Agriculture,Commercial,Residential,U.S. territories,Total
year,,,,,,,,
1990,1526.434289,1880.548218,1652.361348,596.778204,427.109795,345.070789,25.147580,6453.450223
1991,1480.303906,1874.832994,1625.461259,587.493379,434.321072,354.689750,25.836562,6382.938922
1992,1539.881716,1890.103637,1662.343992,588.301071,429.939070,361.222025,25.498569,6497.290079
1993,1576.887693,1965.574487,1631.906633,616.367720,423.366758,372.612499,26.679961,6613.395750
1994,1631.842860,1990.300202,1657.477536,603.473044,426.583160,363.260147,27.841227,6700.778176
1995,1667.019781,2006.877480,1675.133984,615.669467,425.696364,367.523521,27.443018,6785.363615
1996,1723.249166,2079.434227,1705.045256,622.907953,433.307228,399.454803,27.526948,6990.925581
1997,1749.849331,2144.903577,1705.172770,611.328521,425.795877,380.828659,28.334354,7046.213088
1998,1792.295979,2231.446285,1677.755099,618.246994,400.541006,346.873254,27.674774,7094.833389
1999,1863.292088,2244.837094,1627.052157,609.289744,396.926502,366.684458,30.058671,7138.140714
2000,1913.550780,2351.125685,1616.991263,594.854300,411.195289,387.992539,51.883353,7327.593209
2001,1885.434886,2311.387024,1569.909847,615.526557,400.209078,378.076884,58.618698,7219.162974
2002,1925.980857,2326.759449,1550.961500,618.674248,401.730691,375.286669,59.763735,7259.157149
2003,1933.326748,2357.952283,1529.061153,618.962290,417.965117,393.728943,62.831546,7313.828082
2004,1965.852074,2390.768614,1577.981113,631.722629,415.777828,381.852435,64.492951,7428.447645
2005,1975.495128,2456.737090,1536.176420,626.253214,405.442432,371.015529,63.708126,7434.827939
2006,1975.865366,2401.231384,1570.640402,625.786501,391.901762,334.309400,61.066452,7360.801267
2007,1974.426677,2467.226239,1560.386569,642.720748,405.856004,355.254855,57.915315,7463.786408
2008,1870.906050,2414.114946,1501.553646,631.031054,413.166512,363.906982,45.964359,7240.643548
2009,1796.295048,2198.273322,1345.926535,632.860470,416.903785,354.545147,42.460418,6787.264726
2010,1802.276351,2313.956993,1438.778760,641.029259,419.290316,355.539184,36.571398,7007.442261
2011,1768.595360,2211.767283,1443.335476,622.717221,415.067661,349.093809,34.510309,6845.087119
2012,1748.912231,2073.785620,1440.040968,606.452578,396.025010,306.943124,34.364232,6606.523764
2013,1751.515531,2092.343184,1489.536433,645.157275,419.341960,357.731086,28.868748,6784.494217
2014,1785.407075,2092.532800,1474.546661,654.114340,429.600526,378.276992,28.877428,6843.355823
2015,1793.399368,1952.725753,1464.017871,656.101039,442.084720,351.469522,29.207855,6689.006127
2016,1828.045564,1860.497992,1424.355203,643.420271,426.906642,327.812635,26.832725,6537.871031
2017,1845.162610,1780.552030,1446.687191,644.395728,428.486050,329.880970,25.810808,6500.975386
2018,1874.726295,1799.826648,1507.647460,657.914982,444.233499,377.368858,25.794830,6687.512573
2019,1874.291138,1650.961498,1521.665941,663.895669,452.139788,384.178158,24.593554,6571.725747
2020,1627.618555,1482.182865,1426.194536,635.105961,425.312514,361.952257,22.987685,5981.354372

Plot the total annual US greenhouse gas emission.

Plot the annual greenhouse gas emissions by sector (transportation, electricity generation, industry, etc).
Use a **stacked area plot**. 
[Reference page](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.plot.area.html) for `plot.area()`

### Part 2: Sources of US Energy

The file *energy_production.csv* contains recent and historical energy production by sector (Coal, Nuclear, Solar, Wind, etc) in quads (one quad is about $10^{18}$ joules).

In [5]:
path = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/energy_production.csv'
energy = pd.read_csv(path)
energy

     Year      Value                     Sector
0    1949  11.973882            Coal Production
1    1950  14.060135            Coal Production
2    1951  14.419325            Coal Production
3    1952  12.734313            Coal Production
4    1953  12.277746            Coal Production
..    ...        ...                        ...
725  2017   5.165726  Biomass Energy Production
726  2018   5.314165  Biomass Energy Production
727  2019   5.215023  Biomass Energy Production
728  2020   4.804830  Biomass Energy Production
729  2021   4.997672  Biomass Energy Production

[730 rows x 3 columns]

Plot the total annual US energy production.

Plot the total annual US energy production by sector. 
Use a **stacked area plot**.