In [13]:
import pandas as pd

# Practice problem VIII

In [23]:
url = 'https://raw.githubusercontent.com/um-perez-alvaro/Data-Science-Practice/master/Data/US_Crime_Rates.csv'
crime = pd.read_csv(url)
crime.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

What is the type of the columns?

Convert the type of the column 'Year' to datetime64.

Hint:

- the function `to_datetime` has a `format` parameter. Set it to `format ='%Y'`

Set the 'Year' column as the index of the dataframe

Calculate the total number of crimes by decade.

Hints:

- Use the time period `10AS` to resample by decade

What was the most dangerous decade to live in the US?

Hint:

- pandas `idxmax()` method returns the row label of the maximum value